<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]>
<html class="ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9" lang="en">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8"/>

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "GITHUB API demo" %></title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class="row">
  <div class="large-10 large-centered columns">
    <nav class="top-bar" data-options="back_text: POWRÓT">
      <ul class="title-area">
        <li class="name">
          <% if current_user %>
              <h1><%= "#{current_user.name}" %></h1>
          <% else %>
              <h1><%= 'Musisz się zalogować!' %></h1>
          <% end %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left">
          <li class="divider"></li>
          <% if current_user %>
              <li><%= link_to 'Import repozytoriów z bazy danych', edit_user_url(current_user, wipeout: true) %></li>
              <li><%= link_to 'Lista repozytoriów', current_user %></li>
              <li><%= link_to 'Wyloguj się', signout_url %></li>
              <li><%= link_to 'Usuń konto', current_user, method: :delete %></li>
          <% else %>
              <li><%= link_to 'Zaloguj się przez Github', '/auth/github' %></li>
          <% end %>
        </ul>
      </section>
    </nav>
  </div>
</div>

<%= render 'layouts/flash' %>

<div class="row">
  <div class="large-10 large-centered columns">
    <div class="panel">
      <%= yield %>
    </div>
  </div>
</div>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
